<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false">


    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PostPage</servlet-name>
        <url-pattern>/post/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterPage</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PanelPage</servlet-name>
        <url-pattern>/panel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>BackupRestoreDB</servlet-name>
    <url-pattern>/backup</url-pattern>
    </servlet-mapping>
</web-app>